/* GLOBALS */
html {
  font-size: 20px;
}

body {
  font-family: arial, sans-serif;
  color: #333333;
  /* background: #e6e6e6 url('img/background.jpg'); */
  background:#dddddd;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

/* background-color: #e6e6e6;
background-image: url('img/background.jpg'); */

small {
  font-size: 12px;
  display: block;
  margin-top: 4px;
}


/* SITE COMPONENTS */
.site-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

main {
  margin: 0 24px;
}

.site-header {
  text-align: center;
  padding: 24px 0;
}

  .site-header img {
    max-width: 190px;
  }

  h1 {
    margin-bottom: 8px;
    color: #800404;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.3;
  }

  h2 {
    margin: 16px 0;
    font-size: 24px;
    font-weight: bold;
  }

  .site-subtitle {
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 1.2;
  }

.site-footer {
  
}

  .site-signature {
    display: flex;
    justify-content: flex-end;
  }
    .site-signature > div {
      max-width: 500px;
    }

/* COMPONENT: BUTTON */
.c-button {
  display: inline-block;
  padding: 16px 24px;
  color: #ffffff;
  background-color: #44b5df;
  box-shadow: 3px 3px 0 0 rgb(5, 127, 172);
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.c-button.is-big {
  font-size: 24px;
  width: 100%;
  max-width: 300px;
}

.c-button.is-full-width {
  width: 100%;
}

.c-button:active {
  background-color: #057fac;
}


/* COMPONENT: GALLERY */
.c-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  .c-gallery img {
    margin-bottom: 16px;
  }


/* COMPONENT: PARAGRAPH */
.c-simple-paragraph {
  line-height: 1.3;
}

.c-simple-paragraph +
.c-simple-paragraph {
  margin-top: 16px;
}


/* COMPONENT: LIST */
.c-list {
  font-weight: bold;
  line-height: 1.5;
}

  .c-list ol {
    margin-bottom: 24px;
  }


/* COMPONENT: SELECT */
select {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  /* -webkit-appearance: none;
  appearance: none; */
}


/* COMPONENT: FORM */
.c-form + .c-form {
  margin-top: 24px;
}

  .c-form label {
    font-size: 16px;
    font-weight: bold;
  }

  .c-form input,
  .c-form select {
    padding: 0 8px;
    margin-top: 8px;
    height: 45px;
    width: 100%;
    border: 1px solid #555555;
    border-width: 0 0 3px 0;
    border-radius: 3px;
    background-color: #aaa;
    color: #333;
    font-size: 18px;
  }
    .c-form input:focus {
      outline-color: #057fac;
      background-color: #ffffff;
    }


/* RESPONSIVE */
@media (max-width: 560px) {
  .c-gallery {
    justify-content: center;
  }
}


/* COMPONENT: INFO */
.c-info + .c-info {
  margin-top: 8px;
}

  .c-info-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
  }

  .c-info label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
  }

  .c-info div {
    color: #333;
    font-size: 20px;
  }


/* COMPONENT: LOADER */
.c-loader {
  padding: 24px 0;
  font-size: 26px;
}


/* HELPERS */
.h-mb-1 { margin-bottom: 8px; }
.h-mb-2 { margin-bottom: 16px; }
.h-mb-3 { margin-bottom: 24px; }
.h-mb-4 { margin-bottom: 32px; }
.h-mb-5 { margin-bottom: 40px; }

.h-mt-1 { margin-top: 8px; }
.h-mt-2 { margin-top: 16px; }
.h-mt-3 { margin-top: 24px; }
.h-mt-4 { margin-top: 32px; }
.h-mt-5 { margin-top: 40px; }

.h-my-1 { margin-top: 8px; margin-bottom: 8px;}
.h-my-2 { margin-top: 16px; margin-bottom: 16px;}
.h-my-3 { margin-top: 24px; margin-bottom: 24px;}
.h-my-4 { margin-top: 32px; margin-bottom: 32px;}
.h-my-5 { margin-top: 40px; margin-bottom: 40px;}
.h-my-6 { margin-top: 48px; margin-bottom: 48px;}
.h-my-7 { margin-top: 56px; margin-bottom: 56px;}
.h-my-8 { margin-top: 64px; margin-bottom: 64px;}

.h-py-5 { padding-top: 40px; padding-bottom: 40px;}
.h-py-8 { padding-top: 64px; padding-bottom: 64px;}

.h-text-align-center { text-align: center; }
.h-text-align-right { text-align: right; }
.h-font-weight-bold { font-weight: bold; }
.h-font-style-italic { font-style: italic; }
.ninja { display: none; }

.fs-16 { font-size: 16px; }
.fw-bold { font-weight: bold; }
.f-line-height { line-height: 1.5; }
.p-description {
  font-size: 16px;
  line-height: 1.3;
}
